{% extends 'base.html.twig' %}

{% block title %}CGU RhumaSug{% endblock %}

{% block body %}

{{ include("partials/title_section.html.twig", {'name': 'Condiitons Générales d\'Utilisation'}) }}

<div class="container">
    <h1 class="text-center">Conditions Génerales d'Utilisation du site RhumaSug</h1>

<p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit ab velit impedit inventore adipisci praesentium laudantium dicta iste incidunt? Quam iusto aut et mollitia necessitatibus deleniti, consequatur quas, ipsam illum recusandae cumque, quos odit! Nostrum voluptatibus debitis neque consectetur? Unde dolor, molestias accusantium magnam modi atque voluptatem temporibus eveniet! Amet eum doloribus quibusdam. Consequuntur quod fugit numquam et cumque quos reprehenderit porro? Libero eveniet omnis, vel maiores eligendi beatae placeat ipsam consectetur, explicabo illo ut. Libero eius illo reprehenderit maxime iusto recusandae, inventore quae qui quia in temporibus officiis. Ipsa adipisci incidunt dolor. Iure consequatur dolores quaerat excepturi. Ipsum soluta aperiam temporibus architecto atque ratione odio consequatur blanditiis aut fugit provident corporis esse voluptatem, ullam reprehenderit. Deserunt voluptatum architecto eius nihil, nesciunt debitis eum, blanditiis quasi odio cumque quaerat. Nisi, tenetur vero! Voluptates itaque quam ipsam aliquam hic suscipit quibusdam magnam quo sapiente architecto velit magni minus consequuntur delectus ullam, modi impedit at sint tempora iste temporibus! Fugiat libero odit reiciendis ad explicabo ut praesentium voluptatem quo alias fuga dignissimos consequuntur, non molestias veniam ipsum nesciunt voluptas ullam eos aut natus commodi. A perferendis, suscipit officiis minus reprehenderit illo. Officiis mollitia, unde dolorem sit quod harum aliquam quos. Eveniet, culpa!</p>

</div>
{% endblock %}
